<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>plugin</string>
	<key>CFBundleIdentifier</key>
	<string>com.wasim.AnchorArranger</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>CFBundleName</key>
	<string>AnchorArranger</string>
	<key>CFBundleVersion</key>
	<string>6</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>UpdateFeedURL</key>
	<string>https://raw.githubusercontent.com/wsimm/AchorArranger/main/AnchorArranger.glyphsPalette/Contents/Info.plist</string>
	<key>productPageURL</key>
	<string>https://github.com/wsimm/AchorArranger</string>
	<key>productReleaseNotes</key>
	<string>First Release, Anchor Arranger Takes care of calculating the distance between the anchors and upper or the bottom node of the  glyphs  to guarantee the consistency of your font.</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright, Wasim Alhajebi, 2022</string>
	<key>NSPrincipalClass</key>
	<string>AnchorArranger</string>
	<key>PyMainFileNames</key>
	<array>
		<string>plugin.py</string>
	</array>
</dict>
</plist>
